In [2]:
round(1.154, 3)

1.154

In [5]:
from util import data
start_time, end_time = '2023/01/01', '2024/12/31'
tmp_df = data.get_seat_df(start_time, end_time)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [9]:
tmp_df2 = (tmp_df/tmp_df.sum()).T

In [11]:
tmp_df2.god

1     0.428571
2     0.238095
3     0.238095
4     0.190476
5     0.428571
6     0.476190
7     0.380952
8     0.333333
9     0.285714
10    0.476190
11    0.238095
12    0.300000
Name: god, dtype: float64

In [12]:
tmp_df2

         god  villager      wolf
1   0.428571  0.142857  0.428571
2   0.238095  0.476190  0.285714
3   0.238095  0.285714  0.476190
4   0.190476  0.476190  0.333333
5   0.428571  0.238095  0.333333
6   0.476190  0.380952  0.142857
7   0.380952  0.333333  0.285714
8   0.333333  0.380952  0.285714
9   0.285714  0.380952  0.333333
10  0.476190  0.238095  0.285714
11  0.238095  0.285714  0.476190
12  0.300000  0.350000  0.350000

In [ ]:
(tmp_df/tmp_df.sum()).T.plot(y=['god', 'villager', 'wolf'], kind='barh', color = [COLORMAP[0], COLORMAP[1], COLORMAP[2]], stacked=True, ax=ax[ax_i])