In [8]:
data.session_df.shape[0]

21

In [2]:
from util import data
start_time, end_time = '2022/01/01', '2025/01/01'
tmp_df = data.get_final_df(start_time, end_time)
tmp_df = tmp_df.sort_values('win', ascending=True)

In [12]:
data.get_action_df('刀', start_time, end_time)

,uid,name,number,session_number,ratio
8,43e75809-1cce-4ffe-94bc-652f6284cece,Tim,2,17,0.117647
1,64aef50e-9f34-4243-b4e5-428065ba89ad,黑川,1,7,0.142857
19,c704614b-8fb4-40d7-a112-5a2e2d1f8b1a,Jeff,1,7,0.142857
2,c344e1e1-37b3-44f8-b031-3ec403f0cf4c,小賈,2,13,0.153846
28,c59cdddc-83f5-49a1-b044-7cf486348aea,小宇,1,6,0.166667
29,9e208fab-7422-4ae0-850e-498ee23febbd,建凱,1,5,0.200000
12,f2dff5fb-8a43-4f38-aa2c-af0e03bad9ec,屁屁,1,5,0.200000
17,ce03142b-28b1-4473-b882-480c492d8259,一帆,1,5,0.200000
11,420bf6ae-8ad5-4def-8fab-8d68266acd72,俊廷,3,14,0.214286
5,a9a54881-3e2f-4b70-9a6c-3653570357ae,孟書,2,9,0.222222
20,c029ac31-19a1-4627-8557-98ca72b3bf7a,琦琦,2,9,0.222222
23,e7b1249f-d4e1-4dfe-80a5-38c2bd9b5298,凱旋,1,4,0.250000
10,d097940d-7e04-439c-81e7-8aee5b2f4e90,Arthur,2,8,0.250000
16,3edccfee-6319-488b-8b14-34d478fd3917,庭萱,1,4,0.250000
9,29b961d0-ea3b-44df-8f05-3594903577bb,Ryan,3,10,0.300000
27,347f63ce-8d8f-4972-b100-a2bce789b27f,Blair,1,3,0.333333
14,1357069e-4621-4e79-b4ed-562f07b199ec,Claire,2,6,0.333333
13,7056ec28-8016-490c-ab32-f5a1f8f176d0,思思,4,11,0.363636
6,dd35f536-e094-4ab1-b257-943dcc1cfcad,文彬,4,11,0.363636
21,8be6ce70-9262-4617-8b4f-8eb0c8839fcf,柏宏,2,5,0.400000
4,71006609-4233-4a70-80f7-8788a59b9708,TT,2,5,0.400000
25,b2ace958-d8d9-486d-95d4-084900dafd2b,妍甄,2,5,0.400000
18,d57ccd5d-80b8-462c-8734-f6038bf584a4,胡椒餅,5,12,0.416667
22,4da11078-a36e-47dd-aa99-ca8265ac23d0,月月,3,7,0.428571
0,d1c4ada8-ab7b-4b82-8a12-3d080202ef64,哲皮,7,16,0.437500
24,19ebbb19-289c-45fb-89da-f0e36577c324,小白,4,8,0.500000
3,f72286f1-53c3-44a0-9a92-9d8f6be5e620,大為,2,4,0.500000
26,5e690ae4-0b4d-4fd9-8924-205de64f22f4,冷汗,3,5,0.600000
7,68e9092f-e7dd-41e3-a083-a525ae3150b1,小肥,8,12,0.666667
15,cf60db38-e59c-496c-a558-8f4dc7f8b212,心妍,2,3,0.666667

In [15]:
import streamlit as st
from datetime import datetime, timedelta
a = st.sidebar.date_input(
    'start time',
    datetime.strptime("2020/01/01", '%Y/%m/%d').date()-timedelta(days = 1)
).strftime("%Y/%m/%d/")

In [5]:
from util import data
start_time, end_time = '2023/01/01', '2024/12/31'
tmp_df = data.get_seat_df(start_time, end_time)

In [1]:
PLOTCOLOR_lst = ('Pastel1', 'Pastel2', 'Paired', 'Accent', 'Dark2','Set1', 'Set2', 'Set3', 'tab10', 'tab20', 'tab20b','tab20c')

{0: 'Pastel1',
 1: 'Pastel2',
 2: 'Paired',
 3: 'Accent',
 4: 'Dark2',
 5: 'Set1',
 6: 'Set2',
 7: 'Set3',
 8: 'tab10',
 9: 'tab20',
 10: 'tab20b',
 11: 'tab20c'}

In [9]:
tmp_df2 = (tmp_df/tmp_df.sum()).T

In [11]:
tmp_df2.god

1     0.428571
2     0.238095
3     0.238095
4     0.190476
5     0.428571
6     0.476190
7     0.380952
8     0.333333
9     0.285714
10    0.476190
11    0.238095
12    0.300000
Name: god, dtype: float64

In [12]:
tmp_df2

         god  villager      wolf
1   0.428571  0.142857  0.428571
2   0.238095  0.476190  0.285714
3   0.238095  0.285714  0.476190
4   0.190476  0.476190  0.333333
5   0.428571  0.238095  0.333333
6   0.476190  0.380952  0.142857
7   0.380952  0.333333  0.285714
8   0.333333  0.380952  0.285714
9   0.285714  0.380952  0.333333
10  0.476190  0.238095  0.285714
11  0.238095  0.285714  0.476190
12  0.300000  0.350000  0.350000

In [ ]:
(tmp_df/tmp_df.sum()).T.plot(y=['god', 'villager', 'wolf'], kind='barh', color = [COLORMAP[0], COLORMAP[1], COLORMAP[2]], stacked=True, ax=ax[ax_i])

In [9]:
import streamlit as st
from datetime import datetime, timedelta
from util import plot, data, _plot, constant
st.sidebar.date_input(
    'start time',
    datetime.strptime(constant.STARTTIME, '%Y/%m/%d').date()
    ).strftime("%Y/%m/%d")

datetime.date(2024, 1, 12)

In [6]:
datetime.strptime(constant.STARTTIME, '%Y/%m/%d').date()

datetime.date(2024, 1, 12)