In [1]:
from util import data

In [4]:
action = '刀'
start_time, end_time = '2023/01/01', '2025/01/01'
tmp_df = data.get_action_df(action, start_time, end_time)

include_sid = data.session_df[(data.session_df.date>=start_time)&(data.session_df.date<=end_time)].sid.values

In [24]:
name = 'Jeff'

In [25]:
df = data.df
_tmp_df = df[(df.name == name)&(df.date>=start_time)&(df.date<=end_time)].copy()

In [26]:
tmp_df = _tmp_df.value_counts('role')

In [28]:
tmp_df.sum()

7

In [19]:
tmp_df.to_dict()

{'平民': 3, '女巫': 1, '守衛': 1, '小狼': 1, '石像鬼': 1}

In [20]:
df = data.df
_tmp_df = df[(df.name == name)&(df.date>=start_time)&(df.date<=end_time)].copy()
tmp_df = _tmp_df.loc[:,'win'].value_counts()
tmp_df = tmp_df.rename(index={True:'贏', False:'輸'})

In [29]:
tmp_df = data.get_personal_role_win_df(name, start_time, end_time).T

In [30]:
tmp_df

          win
女巫   0.000000
守衛   0.000000
小狼   0.000000
平民   0.333333
石像鬼  0.000000

In [31]:
tmp_df = data.get_camp_sum_df(name, start_time, end_time)

In [34]:
tmp_df.index

Index(['god', 'villager', 'wolf'], dtype='object')

In [33]:
tmp_df.values

array([2, 3, 2], dtype=int64)

In [35]:
tmp_df = data.get_camp_win_df(name, start_time, end_time)

In [37]:
tmp_df.T

               win
god       0.000000
villager  0.333333
wolf      0.000000